@if (Context.Request.Cookies["CookieConsent"] == null)
{
    <div id="cookieConsent" class="fixed-bottom">
        <div class="container">
            <span>We use cookies to improve the user experience on our web site.</span>
            <button class="btn-theme" onclick="acceptCookieConsent()">Accept</button>
        </div>
    </div>

    <script>
        function acceptCookieConsent() {
            document.querySelector('#cookieConsent').style.display = 'none'

            fetch('@Url.Action("CookieConsent", "SiteSettings")', {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
        }
    </script>
}