@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    bool isDark = (themeMode == "dark") ? true : false;
}

<header>
    <div class="container">
        
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="/img/@(isDark ? "logo-dark.svg" : "logo-light.svg")" alt="Silicon logo"></a>
        
        
        @await Html.PartialAsync("~/Views/Shared/Sections/_HeaderNavPartial.cshtml")


        <button class="btn btn-mobile" id="btn-mobile" aria-expanded="false"><i class="fa-solid fa-bars"></i></button>

        <div id="mobile-menu" aria-expanded="false">
            @await Html.PartialAsync("~/Views/Shared/Sections/_HeaderNavPartial.cshtml")
        </div>

    </div>
</header>