<header>
    <div class="container">

        <a id="logo" asp-controller="Home" asp-action="Index"><img src="/img/logo.svg" alt="Silicon logo"></a>

        <div id="menu">
            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <label class="switch">
                <input type="checkbox" id="switch" role="checkbox">
                <span class="slider round"></span>
            </label>
            <span>Dark</span>

        </div>

        <div class="account-buttons">
            <a class="btn-gray" asp-controller="Auth" asp-action="SignIn">
                <img class="sign-in" src="/img/icons/sign-in.svg"
                     alt="account logo" aria-hidden="true">Sign in
            </a>
            <a class="btn-theme" asp-controller="Auth" asp-action="SignUp">
                <img class="sign-up" src="/img/icons/sign-up.svg"
                     alt="sign in logo" aria-hidden="true">Sign up
            </a>
            <a href="/account-details.html"><img class="user-logged-in hidden" src="/img/user-logged-in.png" alt="profile picture of user" aria-hidden="false"></a>
        </div>

        <button class="btn btn-mobile" id="btn-mobile" aria-expanded="false"><i class="fa-solid fa-bars"></i></button>

        <div id="mobile-menu" aria-expanded="false">
            <div class="btn-switch">
                <span>Light</span>
                <label class="switch">
                    <input type="checkbox" id="switch" role="checkbox">
                    <span class="slider round"></span>
                </label>
                <span>Dark</span>
            </div>

            <div class="account-buttons">
                <a class="btn-gray" asp-controller="Auth" asp-action="SignIn">
                    <img class="sign-in" src="/img/icons/sign-in.svg"
                         alt="account logo" aria-hidden="true">Sign in
                </a>
                <a class="btn-theme" asp-controller="Auth" asp-action="SignUp">
                    <img class="sign-up" src="/img/icons/sign-up.svg"
                         alt="sign in logo" aria-hidden="true">Sign up
                </a>
                <a href="/account-details.html"><img class="user-logged-in hidden" src="/img/user-logged-in.png" alt="profile picture of user" aria-hidden="false"></a>
            </div>

            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
            </nav>

        </div>
    </div>
</header>