.breadcrumbs{
    margin: 1rem 0;

    @include lg{
        margin: 2rem 0;
    }

    .container{
        nav{
            ol{
                display: flex;
                align-items: baseline;
                gap: 0.6rem;
    
                i{
                    color: $gray-600;
                }
    
                li{
                    padding: 0.2rem;
    
                    a{
                        color: $gray-600;
                    }
                }
    
                .active{
                    margin-left: -0.5rem;
                    
                    a{
                        color: $theme;
                    }
                }
            }
        }
    }
}
