form {
    .input-group {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.1rem;
        margin: 0 0 1rem;

        input, textarea, select {
            color: #0B0F19 !important;
            width: 100%;
            padding: 0.4rem;
            border-radius: 0.5rem !important;
            border: 1px solid var(--color-gray-500);
            /* outline-color: var(--color-theme);*/
            outline-color: none;
            @include text-s;

            @media md {
                @include text-m;
            }

            &::placeholder {
                color: var(--color-gray);
            }

            &.input-validation-error {
                border: 1px solid var(--color-danger) !important;
                box-shadow: 0 0 0 0.063rem var(--color-danger) !important;

                &::placeholder {
                    color: var(--color-danger);
                }
            }
        }

        label {
            @include h6;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            @include text-xs;

            &.field-validation-error {
                color: var(--color-danger);
            }
        }
    }

    .checkbox-group {
        position: relative;
        display: flex;
        margin: 2rem 0 0 0;
        gap: 0.5rem;

        input[type="checkbox"] {
            align-self: center;
            height: 1.3rem;
            width: 1.3rem;
        }

        span {
            position: absolute;
            top: -100%;
            left: 0;
            @include text-xs;

            @include md {
                @include text-s;
            }

            &.field-validation-error {
                color: var(--color-danger);
            }
        }
    }
}
