section{
    .sidebar {
        grid-area: sidebar;
        text-align: start;

        @include lg{
            border-right: 1px solid $gray-300;
        }
    
        .profile-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
                        
            .image-wrapper {
                position: relative;
    
                .profile-picture{
                    width: 100%;
                    height: auto;
                }
                .change-pic{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @include card;
                    border-radius: 100%;
                    width: 1px;
                    height: 1px;
                    padding: 1rem;
                    background-color: #fff;
    
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }    
            }
        }        
    
        a {
            display: block;
            text-decoration: none;
            color: $gray-900;
            padding: 0.5rem 5rem;
            margin: 0.5rem 1rem 0;
            border-radius: 0.4rem;

            @include md{
                margin: 0 25%;
                padding: 0.5rem auto;
            }

            @include lg{
                padding: 0.5rem 1rem;
                margin: 0.5rem 1rem 0;
            }

            &.active {
                // @include button;
                @include card;
                background: $theme;
                color: $white;
                border: none;
            }
    
            &:hover{
                text-decoration: none;
                background: $gray-700;
                color: $white;
            }
    
            i{
                color: $gray-500;
                margin: 0 1rem 0 0;
            }
    
            .sign-out{
                rotate: 180deg;
                margin-left: -0.2rem;
            }
        }   
    }
}