.error-message {
    background-color: #EF444420;
    border: 2px solid $danger;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.8125rem;
    color: $danger;
    padding: 0.2rem 0.5rem;
    margin: 2rem 0 1rem;

    @include md {
        @include text-m;
        color: $danger;
    }

    @include lg {
        @include text-lg;
        color: $danger;
    }
}

.success-message {
    background-color: #22C55E20;
    border: 2px solid $success;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.8125rem;
    color: $gray-700;
    padding: 0.2rem 0.5rem;

    @include md {
        @include text-m;
    }

    @include lg {
        @include text-lg;
    }
}
