@model AdminViewModel
@{
    ViewData["Title"] = "Admin Portal";
}

<section class="admin-content">

    <div class="container">

        @await Html.PartialAsync("~/Views/Shared/Sections/Admin/_AdminNavPartial.cshtml")

        <h1>@ViewData["Title"]</h1>

        @await Html.PartialAsync("~/Views/shared/Sections/Admin/_AdminSearchPartial.cshtml", Model.SearchModel)
        <div class="search-params">
            <span>
                Valid search parameters:<br /> ------
                <strong>"Email / UserName"</strong> ------
                <strong>"FirstName, LastName"</strong> ------
                <strong>"StreetName_1, PostalCode"</strong> ------
                <strong>"Users"</strong> ------
                <strong>"Addresses"</strong> ------
            </span>
        </div>


        <section class="content-box-account-details">
            @if (Model.Users != null)
            {
                TempData["SingleForm"] = "false";
                foreach (var user in Model.Users)
                {
                    @await Html.PartialAsync("~/Views/Shared/Sections/Account/DetailsPartials/_BasicInfoPartial.cshtml", user)
                }
            }


            @if (Model.BasicInfo != null)
            {
                TempData["SingleForm"] = "true";
                @await Html.PartialAsync("~/Views/Shared/Sections/Account/DetailsPartials/_BasicInfoPartial.cshtml", Model.BasicInfo)

                <div id="AdminPasswordField" class="hidden">
                    @await Html.PartialAsync("~/Views/Shared/Sections/Account/SecurityPartials/_AccountSecurityUpdatePasswordPartial.cshtml", Model.PasswordUpdate)
                </div>

            }


            @if (Model.Addresses != null)
            {
                foreach (var address in Model.Addresses)
                {
                    @await Html.PartialAsync("~/Views/Shared/Sections/Account/DetailsPartials/_AddressInfoPartial.cshtml", address)
                }
            }


            @if (Model.AddressInfo != null)
            {
                @await Html.PartialAsync("~/Views/Shared/Sections/Account/DetailsPartials/_AddressInfoPartial.cshtml", Model.AddressInfo)
            }
        </section>

        <div style="height: 1000px"></div>


        <script src="~/js/admin.js"></script>
    </div>

</section>
