@model AccountSavedCoursesViewModel

@{
    ViewData["Title"] = $"{Model.Sidebar.AccountInfo.FirstName} {Model.Sidebar.AccountInfo.LastName}";
}

<section class="account-saved-courses container">
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/SideBarPartials/_AccountSidebarPartial.cshtml", Model.Sidebar)
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/CoursesPartials/_AccountSavedCoursesPartial.cshtml")
</section>

