@model AccountSecurityViewModel

@{
    ViewData["Title"] = $"{Model.Sidebar.AccountInfo.FirstName} {Model.Sidebar.AccountInfo.LastName}";
}

<section class="account-security container">
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/SideBarPartials/_AccountSidebarPartial.cshtml", Model.Sidebar)
    @await Html.PartialAsync("~/Views/Shared/Sections/Account/SecurityPartials/_AccountSecurityPartial.cshtml")
</section>
