@model AccountSecurityViewModel

<div class="content-box-security">

    <h1 class="title">@Model.Title</h1>

    <div class="@(string.IsNullOrWhiteSpace(@Model.ErrorMessage) ? "hidden" : "update-failed" )">@Model.ErrorMessage</div>

    @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountSecurityUpdatePasswordPartial.cshtml", Model.Form )

    <div class="divider"></div>

    @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountSecurityDeletePartial.cshtml", Model.DeleteAccount)

</div>