@model AccountSecurityDeleteModel

<form method="post" class="delete-account" asp-controller="Account" asp-action="DeleteAccount">

    <h5 class="form-title">Delete account</h5>
    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>

    <div id="terms" class="checkbox-group">
        <input asp-for="@Model.Confirm">
        <label asp-for="@Model.Confirm">Yes, I want to delete my account.</label>
        <span asp-validation-for="@Model.Confirm"></span>
    </div>

    <button type="submit" class="delete-button btn-theme">Delete</button>

</form>

<script defer src="~/js/checkboxValidation.js"></script>