<nav class="admin-nav ">
    @*
    <a asp-action="AddressInfo" asp-controller="Admin">Address</a>
    <a asp-action="PasswordInfo" asp-controller="Admin">Password</a> *@
    <a class="menu-link" asp-action="Index" asp-controller="Admin">Admin Portal</a>
    <a class="menu-link" asp-action="Subscription" asp-controller="Admin">Subscriptions</a>
    <a class="menu-link" asp-action="Courses" asp-controller="Admin">Courses</a>
</nav>
