<nav class="admin-nav ">
    <a class="menu-link" asp-action="Index" asp-controller="Admin">Index</a>
    <a class="menu-link" asp-action="Subscription" asp-controller="Admin">Subscriptions</a>
    <a class="menu-link" asp-action="Courses" asp-controller="Admin">Courses</a>
    <a class="menu-link" asp-action="Contact" asp-controller="Admin">Contact</a>
</nav>
