<nav class="admin-nav ">
    @*
    <a asp-action="AddressInfo" asp-controller="Admin">Address</a>
    <a asp-action="PasswordInfo" asp-controller="Admin">Password</a>
    <a asp-action="DeleteAccount" asp-controller="Admin">Delete account</a> *@
    <a class="menu-link" asp-action="Index" asp-controller="Admin">Admin Portal</a>
    <a class="menu-link" asp-action="Subscription" asp-controller="Admin">Subscriptions</a>
</nav>
