.account-details {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'sidebar' 'details';

    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'sidebar details details';
        gap: 2rem;
    }

    @include xl {
        gap: 8rem;
        padding: 2rem 0;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .content-box-account-details {
        grid-area: details;

        .title {
            @include h3;
            margin: 1rem 0 0;
            text-align: center;

            @include lg {
                @include h1;
                text-align: start;
            }
        }

        .basic-info {
            .external-account-text {
                color: var(--color-danger);
            }
            
            .group-wrapper {
                @include md {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;

                    input {
                        width: 100%;
                    }
                }
            }

            .form-title {
                color: var(--color-theme);
                margin: 1rem 0 0;

                @include xl {
                    text-align: start;
                }
            }

            label {
                @include h6;
            }

            input::placeholder, textarea::placeholder {
                color: var(--color-gray-500);
            }

            .button-wrapper {
                display: flex;
                gap: 1rem;
                margin: 1rem 0;

                @include xl {
                    margin: 2rem 0;
                }
            }
        }

        .divider {
            border: 1px solid var(--color-gray-300);
            margin: 3rem 0 2rem;
        }
    }
}
