.account-security {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'sidebar' 'details';

    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'sidebar details details';
        gap: 2rem;
    }

    @include xl {
        gap: 8rem;
        padding: 2rem 0;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .content-box-security {
        position: relative;
        grid-area: details;

        .update-failed, .delete-failed, .update-succeeded {
            position: absolute;
            top: 4rem;
            right: 0;
            text-align: center;
            background-color: #EF444420;
            border: 2px solid $danger;
            color: $danger;
            border-radius: 0.5rem;
            padding: 0.2rem 0.5rem;
            margin: 1rem 0;

            @include md {
                padding: 0.2rem 2rem;
                @include text-lg;
                color: $danger;
            }

            @include lg {
                width: calc(50% - 0.5rem);
                top: 9.65rem;
                right: 0;
            }
        }

        .delete-failed {
            top: unset;
            right: unset;
            bottom: 0;
            right: 0;

            @include lg {
                padding: 0.2rem 1rem;
                bottom: 1rem;
            }

            @include xl {
                width: calc(50% - 0.5rem);
                top: unset;
                right: unset;
                bottom: 5.8rem;
                left: 18rem;
            }
        }

        .update-succeeded {
            background-color: #22C55E20;
            border: 2px solid $success;
            color: $gray-700;

            @include md {
                color: $gray-700;
            }
        }

        .title {
            @include h3;
            margin: 1rem 0 0;
            text-align: center;

            @include lg {
                @include h1;
                text-align: start;
            }
        }

        form {
            .form-title {
                color: $theme;
                margin: 1rem 0;

                @include xl {
                    text-align: start;
                }
            }

            .group-wrapper {
                @include lg {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                }
            }

            .input-group {
                margin: 0 0 2rem;

                span {
                    top: 100%;

                    @include md {
                        top: auto;
                    }

                    @include lg {
                        top: 100%;
                    }

                    @include xxl {
                        top: auto;
                    }
                }

                .current-password {
                    @include lg {
                        max-width: calc(50% - 0.5rem);
                    }
                }

                .current-password-span {

                    @include lg {
                        right: calc(50% + 0.5rem);
                    }
                }
            }

            .button-wrapper {
                display: flex;
                gap: 1rem;
                margin: 1rem 0;

                @include xl {
                    margin: 2rem 0;
                }
            }
        }

        .divider {
            border: 1px solid $gray-300;
            margin: 3rem 0 2rem;
        }

        .delete-account {
            p {
                @include xl {
                    @include text-lg;
                }
            }

            label {
                @include text-m;
            }

            .delete-button {
                background-color: $danger;
                margin: 1rem 0;

                @include lg {
                    margin: 2rem 0;
                }
            }
        }
    }
}
