.admin-nav {
    .menu-link {
        margin: 0 1rem 0 0;

        @include xl {
            @include h5;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

//Index.cs
.admin-content {
    .container {
        .admin-search {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: last baseline;
            gap: 1rem;
            background-color: var(--color-gray-100);
            border-radius: 0.5rem;
            padding: 2rem;

            .button-wrapper {
                display: flex;
                gap: 1rem;
            }

            .search-help-text {
                @include text-m;
                color: var(--color-danger);
                position: absolute;
                top: 100%;
                left: 0;
            }
        }


        .search-params {
            margin: 1rem 0 2rem;
        }

        .content-box-account-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            form {
                background-color: var(--color-gray-100);
                border-radius: 0.5rem;
                padding: 2rem;

                .title-wrapper {
                    margin: 0 0 1rem;

                    span {
                        color: var(--color-danger);
                    }
                }

                .button-wrapper {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}

//Subscription.cs

.admin-subscription {
    .form-wrapper {
        background-color: var(--color-gray-000);
        padding: 0;

        .container {
            margin: 0 0 2rem;
            background-color: var(--color-gray-100);
            padding: 1rem;
            border: 1px solid var(--color-gray-500);
            border-radius: 0.5rem;

            form {
                margin: 0 0 0.5rem;

                .top-wrapper {
                    @include xl {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-areas: "grid grid grid";
                        align-items: baseline;

                        .grid-container {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                .bottom-wrapper {
                    display: flex;
                    flex-direction: column;

                    @include md {
                        flex-direction: row;
                        align-items: baseline;
                        justify-content: space-between;
                        gap: 1rem;
                    }

                    .input-group {
                        margin: 0.5rem 0;
                    }

                    .btn-theme {
                        background-color: var(--color-warning);
                        color: var(--color-gray-900);
                        margin: 0;
                        white-space: nowrap;
                    }
                }
            }

            .subscription-delete-wrapper {
                display: flex;
                align-items: baseline;
                gap: 1rem;
            }
        }
    }

    #subscriptionToggle {
        margin: 0 0 1rem;
    }

    #createSubscription {
            margin: 0;
            padding: 0;

            button {    
                background-color: var(--color-success);
                color: #fff;
            }

    }
}

.admin-courses {
    .container {
        .top-row {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            /*
            .top-right {
                display: flex;
                gap: 1rem;
                align-items: baseline;
            }*/

            .top-right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;

                @include md {
                    flex-direction: row;
                    gap: 2rem;
                }


                .select {
                    position: relative;
                    min-width: 300px;
                    padding: 0.4rem 1rem;
                    border: 1px solid var(--color-gray-300);
                    border-radius: 0.5rem;
                    cursor: pointer;

                    .drop-down-icon {
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        right: 0.5rem;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--color-gray-800);
                        cursor: pointer;
                    }

                    .selected {
                        white-space: nowrap;
                    }

                    .select-options {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        z-index: 100;
                        background-color: var(--color-gray-000);
                        border: 1px solid var(--color-gray-300);
                        border-radius: 0.5rem;

                        .option {
                            padding: 0.8rem;
                            cursor: pointer;
                            border-bottom: 1px solid var(--color-gray-300);

                            &:hover {
                                background-color: var(--color-gray-300);
                            }
                        }
                    }
                }

                .search-wrapper {
                    position: relative;
                    width: 100%;

                    .search-query {
                        background-color: var(--color-gray-000);
                        color: var(--color-gray-900);
                        padding: 0.4rem 1rem;
                        border: 1px solid var(--color-gray-400);
                        border-radius: 0.5rem;
                    }

                    ::placeholder {
                        color: var(--color-gray-500);
                    }

                    .fa-search {
                        position: absolute;
                        top: 0.7rem;
                        left: 12rem;
                        right: unset;

                        @include sm {
                            left: unset;
                            right: 19rem;
                        }

                        @include md {
                            right: 9.5rem;
                        }

                        @include lg {
                            right: 24.5rem;
                        }

                        @include xl {
                            top: 0.7rem;
                            right: 0.6rem;
                        }
                    }
                }
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            .form-wrapper {
                background-color: var(--color-gray-100);
                border: 1px solid var(--color-gray-500);
                border-radius: 0.5rem;
                padding: 1rem;
            }
        }

        .bottom-row {
            display: block;
            margin: 0 0 2rem;

            button {
                width: calc((50%) - 1rem);
                margin: 0 0 1rem;
            }

            form {
                width: calc((50%) - 1rem);

                button {
                    background-color: var(--color-success);
                }
            }
        }
    }

    form, #coursesForm {
        margin: 0 0 1rem;

        .group-wrapper {
            display: flex;
            gap: 0.5rem;
        }

        .checkbox-group {
            padding: 0;
            margin: 0.5rem 0 1rem;

            label {
                @include h6;
            }
        }

        .button-wrapper {
            display: flex;
            align-items: baseline;
            gap: 1rem;

            .btn-theme {
                background-color: var(--color-warning);
                color: var(--color-gray-900);
                margin: 1rem 0 0;
            }

            .btn-gray {
                background-color: var(--color-gray-300);
            }
        }
    }
}

.admin-contact {
    .container {
        position: relative;

        .top-left {
            span {
                position: absolute;
                top: 2.3rem;
                left: 20rem;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            .form-wrapper {
                background-color: var(--color-gray-100) !important;
                border: 1px solid var(--color-gray-500) !important;
                border-radius: 0.5rem;
                padding: 1rem;

                form {
                    background-color: var(--color-gray-100) !important;

                    .button-group {
                        display: flex;
                        gap: 1rem;

                        .btn-gray {
                            background-color: var(--color-gray-300);
                        }
                    }
                }

                .form-delete {
                    margin: 1rem 0 0;
                }
            }
        }
    }
}