
.admin-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #adminSearchBar{
        width: 29vw;
    }
    
    .search-params {
        margin: 1rem 0 2rem;
    }

    form {
        margin: 0 0 2rem;

        @include md {
            width: 150%;
        }

        .title-wrapper {
            display: flex;
            align-items: baseline;
            gap: 1rem;
            
            span {
                color: $danger;
            }
        }

        .group-wrapper, .button-wrapper {
            display: flex;
            gap: 1rem;
        }
    }
}
