.sign-up {
    .sign-up-form {

        @include md {
            margin: 2rem auto;
            width: 60%;
        }

        @include lg {
            margin: 2rem auto;
            width: 50%;
        }

        @include xl {
            margin: 4rem auto;
            width: 40%;
        }

        .title {
            @include h3;

            @include md {
                @include h2;
            }

            @include lg {
                @include h3;
            }
        }

        .sign-up {
            @include text-s;

            @include md {
                @include text-m;
            }
        }

        .group-wrapper {
            @include xl {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }
        }

        .submit {
            width: 100%;
            margin: 1rem 0;
        }

        a {
            font-size: 0.875rem;

            @include lg {
                font-size: 1rem;
            }
        }
    }
}
