.sign-in-section {
    @include md {
        margin: 2rem auto;
        width: 55%;
    }

    @include lg {
        margin: 2rem auto;
        width: 45%;
    }

    @include xl {
        margin: 4rem auto;
        width: 30%;
    }

    .sign-in-form {


        .incorrectEmailOrPassword, .userCreateSuccess {
            text-align: center;
            background-color: #EF444420;
            border: 2px solid var(--color-danger);
            color: var(--color-danger);
            border-radius: 0.5rem;
            margin: 1rem 0;

            @include md {
                padding: 1rem 0;
                @include text-lg;
                color: var(--color-danger);
            }
        }

        .userCreateSuccess {
            background-color: #22C55E20;
            border: 2px solid var(--color-success);
            color: var(--color-gray-700);

            @include md {
                color: var(--color-gray-700);
            }
        }

        .title {
            @include h3;

            @include md {
                @include h2;
            }

            @include lg {
                @include h3;
            }
        }

        .input-group {
            margin: 1rem 0 0;

            label {
                @include h6;
            }
        }

        .sign-up {
            @include text-s;

            @include md {
                @include text-m;
            }
        }

        .submit {
            width: 100%;
            margin: 1rem 0;
        }
    }

    .sign-in-social {
        text-align: center;

        a {
            font-size: 0.875rem;
            font-weight: 700;

            @include lg {
                font-size: 1rem;
            }
        }

        .divider {
            border: 1px solid var(--color-gray-300);
            margin: 2rem 0;
        }

        h6 {
            @include lg {
                margin: 0 0 1rem;
            }
        }

        .button-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            a {
                width: 100%;
            }
        }
    }
}
