@model SignUpViewModel 

@{
    ViewData["Title"] = "Sign up";
}

<section class="sign-up container">


    <form class="sign-up-form" method="post" asp-controller="Auth" asp-action="SignUp" novalidate>

        <p class="@((ViewData["StatusMessage"]!.ToString() == "A user with that email alredy exists") ? "userAlreadyExists" : ((ViewData["StatusMessage"]!.ToString() == "Invalid form, please check all fields and try again") ? "invalidSignUpForm" : "field-validation-valid" ))">@ViewData["StatusMessage"]</p>
        
        <h1 class="title">Create Account</h1>
        <p class="sign-up">Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here.</a></p>
        
        <div class="group-wrapper">
            <div id="firstName" class="input-group">
                <label asp-for="Form.FirstName"></label>
                <span asp-validation-for="Form.FirstName"></span>
                <input  asp-for="Form.FirstName">
            </div>

            <div id="lastName" class="input-group">
                <label asp-for="Form.LastName"></label>
                <span asp-validation-for="Form.LastName"></span>
                <input asp-for="Form.LastName">
            </div>
        </div>

        <div id="Email" class="input-group">
            <label asp-for="Form.Email"></label>
            <span asp-validation-for="Form.Email"></span>
            <input asp-for="Form.Email">
        </div>

        <div id="password" class="input-group">
            <label asp-for="Form.Password"></label>
            <span asp-validation-for="Form.Password"></span>
            <input asp-for="Form.Password">
        </div>

        <div id="confirmPassword" class="input-group">
            <label asp-for="Form.ConfirmPassword"></label>
            <span asp-validation-for="Form.ConfirmPassword"></span>
            <input asp-for="Form.ConfirmPassword">
        </div>

        <div id="terms" class="checkbox-group">
            <input asp-for="Form.TermsConditions">
            <label asp-for="Form.TermsConditions">I Agree to the <a asp-controller="About" asp-action="Terms">Terms</a> & <a asp-controller="About" asp-action="Conditions">Conditions</a>.</label> 
            <span asp-validation-for="Form.TermsConditions"></span>
        </div>

        <button class="btn-theme submit" type="submit">Sign up</button>

    </form>

<script defer src="~/js/validation.js"></script>
</section>